body{
    margin: 0px;
    padding: 0px;

    font-family: sans-serif;
}
.div_h3{
    width: auto;
}
#chk{
    display: none;
}
/************************ Navbar ************************/
.dropdown_ul{
    visibility: hidden;
    position: absolute;
    list-style: none;
    background-color: #fff;
    width: 200px;
    padding: 15px 15px;
    margin-top: 13px;
}
#navbarDropdown:hover ~ .dropdown_ul{
    visibility: visible;
}
.dropdown_ul li a{
    text-decoration: none;
    color: #040E27;
    font-size: 15px;
}
.container-fluid{
    padding: 0px 0px 0px 10px !important;
}
.main_right-phone{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_travelo{
    border-right: 1px solid rgb(223, 223, 223);
}
.main_right-search{
    background-color: #FF4A52 !important;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed !important;
    box-sizing: border-box;
    width: 100%;
    height: 110px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    padding: 30px 0px 30px 20px;
    z-index: 9999;
}
.fa-phone{
    color: red;
}
.main_right-i{
    display: flex;
}
.main_right-i li{
    list-style: none;
    padding: 0px 12px;
}
.main_right-i a{
    text-decoration: none;
}
.p{
    box-sizing: border-box;
    border-right: 1px solid rgb(223, 223, 223);

    font-size: 16px;
    margin: 0px;
    padding: 0px 20px;
}
.fa-phone{
    color: #ff4a52;
}
.main_right-i{
    padding: 0px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_right-i a{
    text-decoration: none;
}
.fa-brands{
    padding: 0px 3px;
    font-size: 16px;
    color: #9098a0;
}
.fa-brands:hover{
    color: #f51f34;
}
.main_right-i li{
    padding: 0px 12px;
    list-style: none;
}
.main_right-search{
    display: flex;
    align-items: center;
    justify-content: right;
    height: 110px;
    width: 130px;
}
.main_right-search a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 100%;
    text-decoration: none;
}
.fa-magnifying-glass{
    color: #FFFFFF !important;
}
.navbar-light .navbar-nav .nav-link{
    color: #040e27 !important;
}
.navbar-light .navbar-nav .nav-link:hover{
    transition: all 0.3s !important;
    color: #20c997 !important;
}
.navbar-nav li{
    padding: 0px 15px;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    display: flex !important;
    justify-content: flex-end !important;
}

/************************ Main Slaider carusel ************************/
.carousel{
    padding: 110px 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.carousel-inner{
    height: 620px;
    width: 100%;
}
.carousel .button{
    background-color: #20c997;
    height: 100%;
    display: flex;
    height: 620px;
}
.carousel button{
    top: 45%;
    align-items: center;
    width: 50px;
    height: 120px;
    background-color: rgba(255,255,255,.2);
    transition: all .3s ease 0s;
    opacity: 1;
}
.carousel button:hover{
    background: #fff;
    transition: all .3s ease 0s;
}

.carousel-control-prev:hover .carousel-control-prev-icon{
    background-color: rgb(62, 62, 62) !important;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 0.1s;
}
.carousel-control-next:hover .carousel-control-next-icon{
    background-color: rgb(62, 62, 62) !important;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 0.1s;
}
.carousel-item img{
    height: 620px;
    width: 100%;
    object-fit: cover;
}


/************************ Main Slaider container text ************************/

.container{
    position: relative;
    z-index: 999 !important;

    display: flex;
    justify-content: center;

    width: 2000px;
    height: 50px;
    margin-top: -50px;
}
.container img{
    height: 620px;
}
.row{
    display: flex;
    justify-content: center;

    height: 620px;
    margin-left: 150px;
}
.align-items-center{
    display: flex;
    align-items: center;
    height: 700px;
}
.slider_text{
    margin-left: auto;
}
.slider_text a{
    transition: all 0.6s;
}
.slider_text:hover a{
    color: #fff;
    background-color: #FF4A52;
    transition: all 0.6s;
}
.slider_text h3{
    font-size: 150px;
    color: #FFFFFF;
    font-family: "Nothing You Could Do",cursive;
    font-weight: 500;
    line-height: 0.5;
}
.text-center p{
    font-size: 25px;
    color: #FFFFFF;
    margin: 35px 50px;
}
.boxed-btn3{
    background: #1ec6b6;
    color: #fff;
    display: inline-block;
    padding: 18px 41px;
    font-family: "Rubik",sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-radius: 5px;
    text-align: center;
    text-transform: capitalize;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}


/************************ Main Slaider bottomdiv ************************/

.main_slider-bottomdiv{
    display: flex;
    align-items: center;

    height: 180px;
    width: 100%;

    background-color: #040E27;
    margin-top: -4px;
    padding: 0px;
}
.main_slider-bottomdiv2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
}
.main_slider-bottomdiv3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_h3{
    display: flex;
    align-items: center;
    height: 50px;
    width: 500px;
    box-sizing: border-box;
}
.div_input{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 1170px;
    height: 50px;
    box-sizing: border-box;
    margin-left: 0;
}
.input1{
    font-size: 20px;
}
.input1:focus{
    outline: none;
}
.main_slider-bottomdiv h3{
    color: #FFFFFF;
    text-align: center;
    font-size: 23px;
    font-weight: 300;
    margin: 0px;
    width: 250px;
}
.main_slider-bottomdiv2 a{
    text-decoration: none;
    color: #AAB1B7 !important;
}
.main_slider-input, .travel_type{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: transparent;
    border: 1px solid #363e52;
    border-radius: 5px;

    width: 100%;
    height: 60px;
    box-sizing: border-box;

    color: #AAB1B7;
    padding: 1px 15px 1px 15px;
    margin-left: 10px;
    outline: none;
}
.main_slider-bottomdiv3 ul li{
    list-style: none;
}
.main_slider-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #FF4A52;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
    padding: 13px 39px;
    margin-left: 10px;

    transition: all 0.6s;
}
.main_slider-button:hover{
    cursor: pointer;
    transition: all 0.6s;

    background-color: #1EC6B6;
}



/************************ Popular Destination ************************/

.main_popular_destination{
    padding: 140px 0px 120px 0px;
}
.main_popular_destination2{
    padding-left: 60px;
    padding-right: 60px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    box-sizing: border-box;
}
.popular_destination{
    width: 100%;
}
.popular_destination2{
    padding-left: 130px;
    padding-right: 130px;
    display: block;
}


/************************ Popular Destination text ************************/

.popular_destination2-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.popular_destination2-h3-p{
    text-align: center;
    line-height: 28px;

    width: 45%;
    height: 150px;
    padding: 0px 20px;
}
.popular_destination2-h3-p h3{
    font-size: 35px;
    color: #040E27;
    margin: 0px 0px 8px;
    padding: 0px 0px 7px;
    font-weight: 500;
}
.popular_destination2-h3-p p{
    font-size: 16px;
    color: #7A838B;
    margin: 0px;
    line-height: 35px;
    width: 100%;
}


/************************ Popular Destination photo ************************/


/* transform: translateY(-30px)  დივები რომ არ ავიდეს მაღლა ყველა ერთად */

.popular_destination-photo{
    width: 100%;
}
.popular_destination-photo2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
.popular_destination-photo2 img{
    padding: 15px;
    border-radius: 6px;
    box-sizing: border-box;
    height: 270px;
    width: 100%;
    object-fit: cover;
}
.backgrounddiv{
    width: 321px;
    height: 240px;
    background-image: linear-gradient(to bottom, rgba(4,14,39,0) 0%,rgba(4,14,39,.7) 100%);
    position: absolute;
    opacity: 1;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 5px;
}
.popular_destination-photo2-text{
    position: absolute;
    padding: 20px 40px;
    display: flex;
    width: auto;
    color: #FFFFFF;
    font-size: 22px;
    align-items: center;
}
.popular_destination-photo2-text a{
    margin-left: 10px;
    color: #FFFFFF !important;
    text-decoration: none;
    background-color: #1EC6B6;
    border-radius: 30px;
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 600;
}
.popular_destination-photo2-text p{
    display: flex;
    align-items: center;
}
.popular_destination2-h3-p h3{
    font-weight: 400;
}
.popular_destination-photo3{
    display: flex;
    align-items: flex-end;
    max-width: 50%;
}
.popular_destination-photo3:hover{
    transition: all 0.6s;
    transform: translateY(-30px);
}
.popular_destination-photo3:hover p{
    color: #FF4A52;
    transition: all 0.6s;
}
.popular_destination-photo3:hover a{
    background-color: #FF4A52;
    transition: all 0.55s;
}


/************************ subscribe ************************/
.main_subscribe{
    background-image: url('https://preview.colorlib.com/theme/travelo/img/banner/newsletter.png.webp');
    background-repeat: no-repeat;
    background-position: center;
}
.main_subscribe2{
    width: 100%;
    height: 220px;
    
    background-color: #040E27;
    opacity: 0.75;

    display: flex;
    justify-content: center;
}
.main_subscribe3{
    width: 90%;
    padding: 50px 0px;
    box-sizing: border-box;
    height: 220px;
    display: flex;
    justify-content: center;
}
.main_subscribe4{
    width: 100%;
    box-sizing: border-box;
    height: 100px;

    display: flex;
}
.main_subscribe5{
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: center;
}
.main_subscribe5-left{
    width: 350px;
    box-sizing: border-box;   
}
.main_subscribe5-left h4{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;

    height: 50%;
    padding: 0px;
}
.main_subscribe5-left p{
    color: #AAB1B7;
    font-size: 16px;
    margin: 0px;
    height: 50%;
    line-height: 30px;
}
.main_subscribe5-right{
    width: 700px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    padding: 0px 0px 0px 50px;
}
.main_subscribe5-right input{
    width: 100%;
    height: 65px;
 
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 0px 10px;
    box-sizing: border-box;
    
    border: none;
}
.main_subscribe5-right button{
    width: 220px;
    height: 65px;
    
    border: none;
    border-radius: 5px;
    
    background-color: #FF4A52;
    color: #FFFFFF;
    
    padding: 15px 10px;

    font-size: 16px;
    font-weight: 600;
    box-sizing: border-box;
}
.main_subscribe5-right button:hover{
    background-color: #1EC6B6;
    transition: all 0.3s;
    cursor: pointer;
}
.main_subscribe5-right input:focus{
    outline: none;
}


/************************ Popular places ************************/

.main_popular_destination-place{
    background: #f7fafd;
    padding: 140px 0px 120px 0px;
}
.main_popular_destination2-place{
    padding-left: 60px;
    padding-right: 60px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    box-sizing: border-box;
}
.popular_destination-place{
    width: 100%;
}
.popular_destination2-place{
    padding-left: 150px;
    padding-right: 150px;
    display: block;
}
.popular_destination2-text-place{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popular_destination2-h3-p-place{
    text-align: center;
}
.popular_destination2-h3-p-place p{
    width: 500px;
    font-size: 16px;
    color: #7A838B;
    line-height: 28px;
}
.popular_destination2-h3-p-place h3{
    font-size: 35px;
    font-weight: 500;
}


/************************ Popular places photo ************************/

.popular_place-photo{
    width: 100%;
    display: flex;
}
.popular_place-photo2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}
.popular_place-photo2 img{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-sizing: border-box;
    object-fit: cover;
    height: 200px;
    width: 350px;
    background-color: #1EC6B6;
}
.popular_place-photo2-text{
    position: absolute;
    padding: 20px 10px;
    display: flex;
    width: 200px;
    color: #FFFFFF;
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.popular_place-photo2-text a{
    margin-left: 10px;
    color: #FFFFFF !important;
    text-decoration: none;
    background-color: #1EC6B6;
    border-radius: 28px;
    padding: 8px 18px;
    font-size: 16px;
    font-weight: 600;
}
.popular_place-photo2-text p{
    display: flex;
    align-items: center;
}
.popular_place-photo3{
    display: flex;
    flex-direction: column;
    margin: 12px;
    border-radius: 8px;
    background: #fff;
}
.popular_place-photo3:hover{
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
    transition: all 0.5s;
}
.popular_place-photo3:hover h3{
    transition: all 0.6s;
    color: #FF4A52;
}
.popular_place-photo3:hover .x500{
    background-color: #FF4A52;
    transition: all 0.55s;
}
.united_states-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.united_states-icon2 a{
    color: #7A838B !important;
    font-size: 14px;
}
.days{
    color: #7A838B !important;
}
.fa-clock-o{
    color: #000;
    width: 20px;
    height: 20px;
}
.fa-clock-o:before {
    content: "\f017";
    font: normal normal normal 14px/1 FontAwesome;
    color: #7A838B !important;
}
.fa-star{
    font-size: 12px;
    color: #fdae5c;
    margin: -2.5px;
}
.popular_place-photo-bottomdiv{
    padding: 0px 15px 20px;
}
.popular_place-photo-bottomdiv a{
    text-decoration: none;
    color: #040E27;
}
.popular_place-photo-bottomdiv h3{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 10px;
}
.popular_place-photo-bottomdiv p{
    font-size: 14px;
    font-weight: 400;
    color: #7A838B;
    margin: 5px 0px 10px 0px;
}


/************************ more places ************************/

.more_place{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.more_place2{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
}
.more_place2 a{
    background-color: #FF4A52;
    text-decoration: none;
    color: #fff !important;
    padding: 18px 40px;
    border-radius: 7px;
    box-sizing: border-box;

    font-size: 16px;
    font-weight: 600;
}
.more_place2 a:hover{
    background-color: #1EC6B6;
    transition: all 0.3s;
}


/************************ enjoy video ************************/

.main_enjoy-video{
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 750px;
    box-sizing: border-box;

    display: flex;
}
.main_enjoy-video2 img{
    height: 750px;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
    position: absolute;
    object-fit: cover;
}
.main_enjoy-video-text{
    text-align: center;

    width: 100%;
}
.main_enjoy-video-top{
    width: 100%;
    margin-top: 180px;
}
.main_enjoy-video-top h3{
    font-family: "Nothing You Could Do", cursive;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    color: #fff;
    margin-bottom: 55px;
    z-index: 9999;
}
.main_enjoy-video-bottom a{
    text-decoration: none;
    color: white !important;
}
.main_enjoy-video-bottom2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.main_enjoy-video-bottom2-1,.main_enjoy-video-bottom2-2{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1EC6B6;
}
.main_enjoy-video-bottom2-2{
    color: #FFFFFF;
}
.main_enjoy-video-bottom2-1{
    animation: pulse 1500ms ease-out infinite;
    box-sizing: border-box;
}
.fa-play{
    position: absolute !important;
    z-index: 999 !important;
}
@keyframes pulse{
    0%{
        width: 80px;
        height: 80px;
        background-color:  #1EC6B6;
    }
    100%{
        width: 120px;
        height: 120px;
        background-color:  #1EC6B6;
        opacity: 0;
    }
}


/************************ div icon ************************/

.main_div-icon{
    width: 100%;
    height: 600px;
    padding-top: 180px;
    padding-bottom: 220px;
    box-sizing: border-box;
}
.main_div-icon1{
    width: 100%;
    display: flex;
    justify-content: center;

    box-sizing: border-box;
}
.main_div-icon2{
    width: 1100px;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_div-icon2-1{
    text-align: center;
    box-sizing: border-box;
    width: 300px;
}
.main_div-icon2-1 h3{
    font-size: 22px;
    font-weight: 500;
    color: #040e27;
    margin-bottom: 10px;
    margin-top: 41px;
}
.main_div-icon2-1 p{
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
    box-sizing: border-box;
}
.main_div-icon2-1-1 img{
    width: 65px;
    box-sizing: border-box;
    object-fit: cover;
}
.main_div-icon2-2-1 img{
    width: 65px;
    box-sizing: border-box;
    object-fit: cover;
}
.main_div-icon2-3-1 img{
    width: 65px;
    box-sizing: border-box;
    object-fit: cover;
}
.main_div-icon2-2{
    padding: 0px 30px;
    text-align: center;
    box-sizing: border-box;
    width: 350px;
}
.main_div-icon2-2 h3{
    font-size: 22px;
    font-weight: 500;
    color: #040e27;
    margin-bottom: 10px;
    margin-top: 41px;
}
.main_div-icon2-2 p{
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
}
.main_div-icon2-3{
    text-align: center;
    box-sizing: border-box;
    width: 300px;
}
.main_div-icon2-3 h3{
    font-size: 22px;
    font-weight: 500;
    color: #040e27;
    margin-bottom: 10px;
    margin-top: 41px;
}
.main_div-icon2-3 p{
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
}


/************************ Human ************************/

.human{
    width: 100%;
    height: 550px;
    background-color: #f7fafd;;
}
.human2{
    width: 100%;
    box-sizing: border-box;
    height: 550px;
    padding: 120px 0px;
}
.human3{
    height: 250px;
    display: flex;
    justify-content: center;
}
.human4{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 1000px;
    padding: 0px 15px;
}
.human5{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 900px;
}
.human5-text1{
    display: flex;
    justify-content: center;
}
.human5-text2{
    display: flex;
    justify-content: center;
}
.human5 p{
    text-align: center;
    color: #7a838b;
    font-size: 16px;
    font-weight: 400;
}
.human5 h3{
    text-align: center;
    color: #040e27;
    font-weight: 400;
    line-height: 32px;
    margin: 34px 0px 10px 0px;
    width: 100%;
    font-size: 25px;
}
.human5-photodiv{
    display: flex;
    justify-content: center;
}


/************************ human anim ************************/

.anim{
    margin-top: 20px;
    width: 100%;
    height: 40px;
}
.anim2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.anim-next1{
    background-color: #FF4A52;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    border-radius: 50%;
}
.anim-next2{
    background-color: #AAB1B7;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0px 10px;
}
.anim-next3{
    background-color: #AAB1B7;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    border-radius: 50%;
}
.anim-next1,.anim-next2,.anim-next3:hover{
    cursor: pointer;
}


/************************ recent trips ************************/

.main_recent_trips{
    height: 600px;
    padding-top: 140px;
}
.main_recent_trips2{
    padding-left: 60px;
    padding-right: 60px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
}
.recent_trips{
    width: 100%;
}
.recent_trips2{
    padding-left: 150px;
    padding-right: 150px;
    display: block;
}
.recent_trips2-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50px;
}
.recent_trips2-h3-p{
    text-align: center;
    line-height: 28px;

    width: 45%;
    height: 50px;
    padding: 0px 20px;
}
.recent_trips2-h3-p h3{
    font-size: 38px;
    color: #040E27;
    font-weight: 300;

    margin: 0px 0px 8px;
    padding: 0px 0px 7px;
}
/* transform: translateY(-30px)   დივები რომ არ ავიდეს მაღლა ყველა ერთად */
.recent_trips-photo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;
}
.recent_trips-photo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.recent_trips-photo2 img{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    object-fit: cover;
}
.recent_trips-photo4{
    height: 380px;
    width: 380px;
}
.recent_trips-photo4:hover h3{
    transition: 0.5s;
    color: #f51f34;
}
.recent_trips-photo4-1 img{
    object-fit: cover;
    border-radius: 20px;
}
.recent_trips-photo4-2 img{
    object-fit: cover;
    border-radius: 20px;
}
.recent_trips-photo4-3 img{
    object-fit: cover;
    border-radius: 20px;
}
.recent_trips-photo4-spandiv{
    box-sizing: border-box;
}
.recent_trips-photo4-span{
    color: #7A838B;
    padding: 0px 15px;
    font-size: 14px;

    box-sizing: border-box;
}
.recent_trips-photo4-h3{
    padding: 0px 15px;
    color: #040E27;
    font-size: 22px;
    font-weight: 300;
    transition: 0.2s;

    box-sizing: border-box;
}


/************************ Footer ************************/
.footer{
    width: 100%;
    height: 675px;
    margin-top: 150px;
    background-color: #040e27;
    color: #FFFFFF;
}
.footer_div{
    width: 100%;
    height: 690px;

    background-color: #040e27;
    color: #FFFFFF;
}
.footer_div2{
    height: 580px;
    width: 100%;
}
.footer_div3{
    height: 300px;
    width: 100%;
    padding: 150px 0px 100px 0px;
    display: flex;
    justify-content: center;
}
.footer_div3 ul{
    margin: 0px;
    padding: 0px;
}
.footer_div3 a{
    color: #7A838B !important;
}
.mail:hover{
    color: #FF4A52 !important;
}
.footer_div4{
    height: 300px;
    width: 81%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.footer_div4-1,.footer_div4-2,.footer_div4-3,.footer_div4-4{
    padding: 0px 20px;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
}
.footer_div4 li{
    list-style: none;
}
.footer_div4 a{
    text-decoration: none;
}
.footer_div4-1 p{
    color: #7A838B;
    display: block;
    margin: 0px 0px 30px 0px;
}
.footer_div4-1 ul{
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.footer_div4-1 ul a{
    width: 100%;
    margin: 0px 20px 0px 0px;
}
.footer_photo{
    margin: 0px 0px 25px 0px;
}
.footer_div2{
    line-height: 40px;
    box-sizing: border-box;
}
.footer_div2 h3{
    font-size: 22px;
    margin: 0px 0px 40px 0px;
}
.footer_div4{
    box-sizing: border-box;
}
.footer_div4-1{
    box-sizing: border-box;
    width: 1000px;
    margin-left: 40px;
}
.footer_div4-2{
    width: 500px;
    box-sizing: border-box;
}
.footer_div4-3{
    width: 750px;
    box-sizing: border-box;
}
.footer_div4-4 h3{
    padding-left: 40px;
}
.footer_div4-4{
    box-sizing: border-box;
    width: 100%;
}
.footer_div4-4 h3{
    width: 100%;
    
}
.Popular_Destination-two-div{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    width: 190px;
}
.footer_photo-div{
    padding: 10px;
    margin: 0px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_div4-4-photos-div img{
    border-radius: 12px;
    padding: 5px;

    width: 100px;
    height: 100px;

    object-fit: cover;
}
.footer_div4-4-photos-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer_div-bottom{
    width: 100%;
    height: 115px;
}
.footer_div-bottom1{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    width: 100%;
    height: 110px;
    box-sizing: border-box;
}
.footer_div-bottom2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 140px;
    border-top: 1px solid #363e52;
}
.footer_div-bottom2-copyright p{
    color: #7A838B;
    font-size: 14px;
}
.by_colorlib{
    color: #FF4A52;
    text-decoration: none;
}



/************************ Media ************************/

@media screen and (max-width: 1300px){
    .li1{
        margin-left: 0px;
    }
    .main_ul li{
        list-style: none;
        margin-left: 20px;
    }
    .popular_destination2-h3-p{
        width: 60%;
        height: 210px;
    }
    .human{
        width: 100%;
        height: 510px;
        background-color: #f7fafd;;
    }
    .human5 p{
        font-size: 15px;
        font-weight: 300;
    }
    .human5 h3{
        font-weight: 300;
        line-height: 28px;
        width: 100%;
        font-size: 18px;
        padding: 0px 50px;
    }
    .anim{
        margin-top: 18px;
        height: 34px;
    }
    .anim2{
        height: 34px;
    }
    .anim-next1{
        height: 13px;
        width: 13px;
    }
    .anim-next2{
        height: 13px;
        width: 13px;
        margin: 0px 8px;
    }
    .anim-next3{
        height: 13px;
        width: 13px;
    }
    .footer_div4{
        width: 100%;
    }
    .footer_photo-div{
        width: 80px;
        height: 80px;
    }
    .popular_place-photo3{
        height: 320px;
        width: 320px;
        box-sizing: border-box;
    }
    .popular_place-photo2 img{
        width: 320px;
    }
    .carousel{
        padding: 70px 0px 0px 0px;
    }
    .recent_trips-photo4{
        height: 300px;
        width: 300px;
        box-sizing: border-box;
    }
    .recent_trips-photo2{
        height: 400px;
    }
    .main_recent_trips2{
        height: 300px;
    }
    .recent_trips-photo{
        height: 400px;
    }
    .footer_div4-4 h3{
        padding-left: 30px;
    }
    .footer_div4-4-photos-div{
        width: 300px;
        height: 200px;
    }
    .footer_photo-div{
        width: 80px;
        height: 80px;
    }
    .footer_div4-4-photos-div img{
        width: 80px;
        height: 80px;
    }
    .footer_div4-1{
        box-sizing: border-box;
        width: 1000px;
        margin-left: 90px;
    }
    .navbar-nav li{
        padding: 0px 8px;
    }
    .align-items-center{
        height: 700px;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: flex !important;
        justify-content: flex-end !important;
    }
}
@media screen and (max-width: 1200px){
    .navbar{
        height: 70px;
    }
    .img_travelo{
        border: none;
        object-fit: cover;
    }
    .main_ul li{
        margin-left: 15px;
    }
    .main_right-search{
        width: 70px;
        height: 70px;
    }
    .main_right-search a{
        width: 80px;
        height: 70px;
    }
    .main_slider-bottomdiv h3{
        font-size: 18px;
        font-weight: 500;
    }
    .main_slider img{
        margin-top: 70px;
        object-fit: cover;
    }
    .popular_destination2-h3-p{
        width: 80%;
        height: 180px;
    }
    .popular_destination-photo2 img{
        padding: 15px;
        border-radius: 6px;
        box-sizing: border-box;
        height: 240px;
        object-fit: cover;
    }
    .main_div-icon2{
        width: 1100px;
        height: 230px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .human{
        width: 100%;
        height: 400px;
        background-color: #f7fafd;;
    }
    .human5 p{
        font-size: 13px;
        font-weight: 300;
    }
    .human5 h3{
        font-weight: 300;
        line-height: 28px;
        width: 100%;
        font-size: 16px;
        padding: 0px 100px;
    }
    .anim{
        margin-top: 15px;
        height: 31px;
    }
    .anim2{
        height: 31px;
    }
    .anim-next1{
        height: 11px;
        width: 11px;
    }
    .anim-next2{
        height: 11px;
        width: 11px;
        margin: 0px 7px;
    }
    .anim-next3{
        height: 11px;
        width: 11px;
    }
    .footer_div-bottom2{
        width: 85%;
    }
    .popular_place-photo3{
        height: 280px;
        width: 280px;
        box-sizing: border-box;
    }
    .popular_place-photo2 img{
        width: 280px;
    }
    .carousel{
        padding: 60px 0px 0px 0px;
    }
    .recent_trips-photo4{
        height: 280px;
        width: 280px;
        box-sizing: border-box;
    }
    .recent_trips-photo2{
        height: 350px;
    }
    .main_recent_trips2{
        height: 500px;
    }
    .recent_trips-photo{
        height: 350px;
    }
    .footer_div4-4 h3{
        padding-left: 25px;
    }
    .footer_div4-4-photos-div{
        width: 250px;
        height: 170px;
    }
    .footer_photo-div{
        width: 70px;
        height: 70px;
    }
    .footer_div4-4-photos-div img{
        width: 70px;
        height: 70px;
    }
    .div_input{
        width: 980px;
    }
    .footer_div4-1{
        box-sizing: border-box;
        width: 1000px;
        margin-left: 70px;
    }
    .footer_div2 h3{
        font-size: 20px;
    }
    .navbar-nav li{
        padding: 0px 2px;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: flex !important;
        justify-content: flex-end !important;
    }
    .backgrounddiv{
        width: 282px;
        height: 220px;
        margin-bottom: 15px;
        margin-left: 15px;
    }
}
@media screen and (max-width: 1100px){
    .navbar{
        height: 60px;
    }
    .main_right-i{
        visibility: hidden;
        position: absolute;
    }
    .p{
        margin-right: 20px;
        border: none;
    }
    .main_right-search{
        width: 70px;
        height: 60px;
    }
    .main_right-search a{
        width: 110px;
        height: 60px;
    }
    .main_slider-bottomdiv h3{
        font-size: 17px;
    }
    .main_slider img{
        margin-top: 60px;
        object-fit: cover;
    }
    .popular_destination2-h3-p{
        width: 90%;
        height: 210px;
    }
    .popular_destination-photo2 img{
        padding: 10px;
        border-radius: 6px;
        box-sizing: border-box;
        height: 210px;
        object-fit: cover;
    }
    .main_subscribe5-right{
        width: 450px;
    }
    .main_subscribe5-right button{
        width: 100px;
    }
    .main_subscribe5-left{
        width: 280px;
    }
    .main_div-icon2{
        width: 900px;
        height: 230px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_slider-bottomdiv{
        width: 100%;
        height: 180px;
    }
    .div_h3{
        position: absolute;
        box-sizing: border-box;
        margin-top: -120px;
        margin-left: -340px;
    }
    .div_input{
        display: flex;
        width: 800px;
    }
    .main_slider-bottomdiv3{
        display: flex;
        justify-content: space-around;
    }
    .main_slider-input,.travel_type,.main_slider-button{
        width: 100%;
        padding: 20px;
    }
    .human{
        width: 100%;
        height: 400px;
        background-color: #f7fafd;
    }
    .human5 p{
        font-size: 13px;
        font-weight: 200;
    }
    .human5 h3{
        font-weight: 200;
        line-height: 26px;
        font-size: 14px;
        padding: 0px 150px;
    }
    .anim{
        margin-top: 12px;
        height: 28px;
    }
    .anim2{
        height: 28px;
    }
    .anim-next1{
        height: 9px;
        width: 9px;
    }
    .anim-next2{
        height: 9px;
        width: 9px;
        margin: 0px 5px;
    }
    .anim-next3{
        height: 9px;
        width: 9px;
    }
    .popular_place-photo3{
        height: 250px;
        width: 250px;
        box-sizing: border-box;
    }
    .popular_place-photo2 img{
        width: 250px;
    }
    .popular_place-photo2-text a{
        padding: 4px 12px;
    }
    .recent_trips-photo2{
        height: 320px;
    }
    .main_recent_trips2{
        height: 800px;
        box-sizing: border-box;
    }
    .recent_trips-photo{
        height: 320px;
    }
    .footer_div4-4-photos-div{
        width: 220px;
        height: 150px;
    }
    .footer_photo-div{
        width: 60px;
        height: 60px;
    }
    .footer_div4-4-photos-div img{
        width: 60px;
        height: 60px;
    }
    .footer_div4-1{
        box-sizing: border-box;
        width: 1000px;
        margin-left: 50px;
    }
    .footer_div2 h3{
        font-size: 20px;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: flex !important;
        justify-content: flex-end !important;
    }
    .backgrounddiv{
        width: 255px;
        height: 190px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 991px){
    /* #navbarSupportedContent{
        visibility: hidden;
        position: absolute;
    }
    #chk:checked ~ #navbarSupportedContent{
        visibility: visible;
        z-index: 999 !important;
        margin-top: 20px;
        background-color: #4c4c4c;
    }
    #chk{
        display: block;
    } */

    /* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) */
    .container-fluid label:hover ~ #navbarSupportedContent{
        display: block;
        visibility: visible;
        z-index: 999 !important;
        margin-top: 20px;
        background-color: #4c4c4c;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #fff !important;
        padding-left: 30px;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: #000 !important;
    }
    .navbar-light .navbar-nav .nav-item:hover{
        background-color: #CCCCCC;
        border-radius: 6px;
    }
    .container-fluid{
        padding: 0px !important;
    }



    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0px;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-light{
        padding: 0px;
    }
    .img_travelo{
        border: none;
        object-fit: cover;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
    }
    .navbar-brand img{
        margin-left: 15px;
    }
    .container-fluid{
        display: flex;
        justify-content: flex-end;
        width: 70% !important;
        background-color: #4c4c4c;
        height: 60px;
    }
    .bg-light{
        width: 100% !important;
        padding: 0px;
        margin: 0px;
        height: 60px;
    }
    .main_right-search{
        width: 10%;
        height: 60px;
    }
    .navbar-light .navbar-toggler{
        background-color: #222;
        border-radius: 5px;
        padding-right: 30px;
        height: 40px;
        width: 20%;
    }
    .navbar-light .navbar-toggler span{
        color: #fff !important;
        padding: 0px 5px 0px 0px;
    }
    .navbar-light .navbar-toggler i{
        color: #fff !important;
    }
    .main_right-phone{
        display: none;
    }
    .main_right-i{
        display: none;
    }
    .img_travelo{
        padding-left: 0px;
    }
    .fa-bars{
        visibility: visible;
    }
    .carousel{
        padding: 60px 0px 0px 0px;
        display: flex;
        justify-content: center;
        height: 300px;
    }
    .carousel-inner{
        height: 300px;
        width: 100%;
    }
    .carousel button{
        top: 50%;
        align-items: center;
        width: 40px;
        height: 80px;
    }
    .carousel-item img{
        height: 300px;
        width: 100%;
        object-fit: cover;
        display: flex;
    }
    .row.align-items-center{
        height: 280px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .slider_text h3{
        font-size: 50px;
        color: #FFFFFF;
        font-family: "Nothing You Could Do",cursive;
        font-weight: 100;
        line-height: 0.5;
    }
    .text-center p{
        font-size: 16px;
        color: #FFFFFF;
        margin: 20px 20px;
    }
    .boxed-btn3{
        padding: 15px 35px;
    }
    .main_slider-bottomdiv{
        margin-top: 60px;
        height: 380px;
    }
    .main_slider-bottomdiv2{
        width: 100%;
        height: 350px;
        padding: 0px;
    }
    .main_slider-bottomdiv3{
        width: 90%;
        height: 350px;
    }
    .div_input{ 
        font-size: 17px;
        width: 70%;
        height: 350px;
        box-sizing: border-box;
        margin: 0px;
        display: block;
    }
    .main_slider-input, .travel_type, .main_slider-button{
        box-sizing: border-box;
        margin: 10px 0px;
        height: 50px;
    }
    .input1{
        margin-top: 90px;
    }
    .main_slider-button{
        width: 30%;   
    }
    .div_h3{
        margin: 0px;
        margin-top: 20px;
    }
    .main_slider-bottomdiv h3{
        font-size: 30px;
        font-weight: 200;
        height: 40px;
        margin: 0px;
        width: 300px;
    }
    .popular_destination2-text{
        width: 100%;
        box-sizing: border-box;
    }
    .popular_destination2{
        padding: 0px 40px;
    }
    .popular_destination2-h3-p{
        height: 160px;
        width: 100%;
    }
    .popular_destination-photo2 img{
        box-sizing: border-box;
        height: 260px;
    }
    .main_subscribe3{
        padding: 30px 0px;
    }
    .main_subscribe5{
        align-items: flex-start;
        flex-direction: column;
        width: 80%;
    }
    .main_subscribe5-left h4{
        margin: 0px 10px;
    }
    .main_subscribe5-left p{
        margin: 0px 0px 30px 10px;
    }
    .main_subscribe5-right{
        padding: 0px;
        width: 100%;
    }
    .main_subscribe5-right input{
        height: 50px;
    }
    .main_subscribe5-right button{
        height: 50px;
        width: 200px;
        background-color: #f51f34 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main_subscribe5-left{
        width: 100%;
    }
    .main_subscribe5{
        height: 160px;
    }
    .main_subscribe4{
        height: 160px;
        display: flex;
        justify-content: center;
    }
    .popular_destination2-place{
        padding: 0px 50px;
    }
    .popular_destination2-text-place{
        width: 100%
    }
    .popular_destination2-h3-p-place{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .popular_destination2-h3-p-place p{
        width: 100%;
    }
    .popular_place-photo3{
        height: 320px;
        width: 40%;
    }
    .popular_place-photo2 img{
        width: 100%;
    }
    .main_enjoy-video{
        height: 650px;
    }
    .main_enjoy-video-text{
        height: 650px;
    }
    .main_enjoy-video2 img{
        height: 650px;
    }
    .main_div-icon2-1, .main_div-icon2-2, .main_div-icon2-3{
        padding: 0px 15px;
    }
    .main_div-icon1{
        height: 500px;
        display: flex;
        justify-content: center;
    }
    .main_div-icon2{
        height: 500px;
        flex-wrap: wrap;
        width: 80%;
        justify-content: flex-start;
    }
    .main_div-icon{
        height: 750px;
        display: flex;
        justify-content: center;
    }
    .main_div-icon{
        width: 100%;
    }
    .human3{
        width: 100%;
    }
    .human4{
        width: 100%;
        padding: 0px;
    }
    .human5{
        width: 100%;
    }
    .human5 h3{
        font-size: 18px;
        line-height: 32px;
        color: #040e27;
        font-weight: 500;
        width: 100%;
        padding: 0px 50px;
    }
    .human5 p{
        font-size: 16px;
    }
    .anim-next1, .anim-next2, .anim-next3{
        height: 12px;
        width: 12px;
    }
    .anim-next2{
        margin: 0px 10px;
    }
    .anim{
        margin: 0px;
    }
    .main_recent_trips{
        height: 900px;
        width: 100%;
        box-sizing: border-box;
    }
    .main_recent_trips2{
        padding: 0px 50px;
        height: 900px;
    }
    .recent_trips{
        height: 50px;
    }
    .recent_trips2-h3-p{
        width: 100%;
        height: 50px;
    }
    .recent_trips2-h3-p h3{
        font-weight: 450;
    }
    .recent_trips-photo{
        height: 710px;
    }
    .recent_trips-photo2{
        height: 700px;
        display: flex;
        width: 90%;
        justify-content: flex-start;
    }
    .recent_trips-photo3{
        width: 50%;
        height: 225px;
    }
    .recent_trips-photo4{
        width: 100%;
        height: 225px;
    }
    .recent_trips-photo4-1, .recent_trips-photo4-2, .recent_trips-photo4-3{
        margin: 0px;
    }
    .recent_trips-photo4-text{
        width: 100%;
    }
    .recent_trips-photo4-h3{
        padding: 0px 0px 0px 15px;
        width: 100%;
        font-weight: 400;
        margin: 0px;
    }
    .footer{
        width: 100%;
        height: 1000px;
    }
    .footer_div{
        height: 1000px;
        width: 100%;
    }
    .footer_div2{
        height: 1000px;
        width: 100%;
        padding: 0px 100px;
    }
    .footer_div3{
        height: 890px;
        display: flex;
        justify-content: center;
    }
    .footer_div4{
        flex-wrap: wrap;
        height: 600px;
        width: 90%;
    }
    .footer_div2 h3{
        padding: 0px;
    }
    .footer_div-bottom{
        height: 110px;
    }
    .footer_div-bottom1{
        margin: 0px;
    }
    .footer_div-bottom2{
        height: 110px;
    }
    .footer_div4-1{
        margin: 0px;
        width: 50%;
    }
    .footer_div4-2{
        width: 50%;
    }
    .footer_div4-3{
        width: 50%;
    }
    .footer_div4-4{
        width: 50%;
    }
    .footer_div4-4-photos-div{
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: flex-start;
    }
    .footer_photo-div{
        height: 160px;
        width: 146px;
        padding: 0px;
        display: contents;
    }
    .footer_div4-4-photos-div img{
        height: 90px;
        width: 100%;
    }
    .row.align-items-center{
        width: 500px;
        display: flex;
        justify-content: center;
        height: 400px;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: flex !important;
        justify-content: flex-end !important;
    }
    .navbar-light .navbar-toggler{
        width: 150px !important;
    }
    .backgrounddiv{
        width: 322px;
        height: 190px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}
@media screen and (max-width: 845px){
    .footer_div4-4-photos-div{
        height: 140px;
        width: 100%;
    }
    .footer_div4-4-photos-div img{
        height: 60px;
    }
    .main_div-icon2{
        height: 400px;
        width: 70%;
    }
    .main_div-icon2-1, .main_div-icon2-2, .main_div-icon2-3{
        width: 50%;
    }
    .col-md-12{
        margin: 0px;
        text-align: center;
        width: 100%;
    }
    .text-center{
        margin: 0px;
        height: 500px;
    }
    .row.align-items-center{
        width: 1200px;
        height: 700px;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: flex !important;
        justify-content: flex-end !important;
    }
    .navbar-light .navbar-toggler{
        width: 130px !important;
    }
}
@media screen and (max-width: 820px){
    .backgrounddiv{
        display: none;
    }
}
@media screen and (max-width: 750px){
    .col-md-12{
        margin: 0px;
        text-align: center;
        width: 100%;
    }
    .text-center{
        margin: 0;
        width: 300px;
    }
    .carousel{
        padding: 60px 0px 0px 0px;
        display: flex;
        justify-content: center;
        height: 250px;
    }
    .carousel-inner{
        height: 250px;
        width: 100%;
    }
    .carousel button{
        top: 50%;
        align-items: center;
        width: 40px;
        height: 80px;
    }
    .carousel-item img{
        height: 250px;
        width: 100%;
        object-fit: cover;
        display: flex;
    }
    .row.align-items-center{
        height: 700px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .slider_text h3{
        font-size: 50px;
        color: #FFFFFF;
        font-family: "Nothing You Could Do",cursive;
        font-weight: 100;
        line-height: 0.5;
    }
    .text-center p{
        font-size: 13px;
        color: #FFFFFF;
        margin: 20px 20px;
    }
    .boxed-btn3{
        padding: 15px 35px;
    }
    .main_slider-bottomdiv{
        height: 450px;
    }
    .main_popular_destination{
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .main_popular_destination2{
        width: 100%;
        box-sizing: border-box;
        padding-left: 90px;
        padding-right: 90px;
    }
    .popular_destination-photo3{
        max-width: 100% !important;
    }
    .popular_destination-photo2 img{
        height: auto;
        border-radius: 20px;
    }
    .popular_destination2{
        padding: 0px;
    }
    .popular_destination2-h3-p p{
        font-weight: 500;
    }
    .popular_place-photo3{
        height: 300px;
    }
    .popular_destination2-h3-p-place p{
        width: 100%;
    }
    .navbar-light .navbar-toggler{
        width: 30%;
    }
    .container-fluid{
        display: flex;
        justify-content: flex-end;
        width: 70% !important;
        background-color: #4c4c4c;
        height: 60px;
    }
    .main_popular_destination2-place{
        padding: 0px 60px;
        display: flex;
        flex-wrap: wrap;
    }
    .popular_place-photo2{
        display: inline-block;
        box-sizing: border-box;
        margin-left: 25px;
    }
    .popular_place-photo3{
        width: 90%;
        height: 430px;
        box-sizing: border-box;
    }
    .popular_place-photo2 img{
        height: 300px;
    }
    .popular_place-photo-bottomdiv{
        padding: 10px 20px;
    }
    .main_popular_destination-place{
        padding: 60px 0px;
    }
    .main_subscribe{
        height: 300px;
        background-image: none;
    }
    .main_subscribe2{
        height: 300px;
    }
    .main_subscribe3{
        height: 300px;
    }
    .main_subscribe4{
        height: 240px;
    }
    .main_subscribe5{
        height: 240px;
    }
    .main_subscribe5-right{
        display: flex;
        flex-direction: column;
    }
    .main_subscribe5-right button{
        width: 100%;
        background-color: #ff0019;
        margin-top: 10px;
    }
    .main_enjoy-video{
        height: 400px;
    }
    .main_enjoy-video2{
        height: 400px;
    }
    .main_enjoy-video2 img{
        height: 400px;
    }
    .main_enjoy-video-text{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    .main_enjoy-video-top{
        margin-top: 50px;
    }
    .main_enjoy-video-top h3{
        margin-bottom: 0px;
        font-size: 50px;
        margin-top: 20px;
    }
    .main_enjoy-video-bottom2{
        margin-bottom: 20px;
        height: 150px;
    }
    .main_div-icon{
        height: 800px;
        padding: 80px 50px 60px;
    }
    .main_div-icon1{
        height: 700px;
        display: flex;
    }
    .main_div-icon2{
        height: 700px;
        width: 100%;
    }
    .main_div-icon2-1, .main_div-icon2-2, .main_div-icon2-3{
        width: 100%;
    }
    .recent_trips-photo{
        width: 100%;
        height: 1000px;
    }
    .recent_trips-photo2{
        width: inherit;
        height: 1000px;
        flex-wrap: wrap;
    }
    .recent_trips-photo2 img{
        width: 100%;
    }
    .recent_trips-photo3{
        width: 100%;
        height: 450px;
        flex-wrap: wrap;
    }
    .recent_trips-photo4{
        height: 450px;
    }
    .recent_trips-photo4-text{
        height: 80px;
    }
    .main_recent_trips{
        height: 1660px;
    }
    .main_recent_trips2{
        height: 1660px;
    }
    .recent_trips-photo{
        height: 1560px;
    }
    .recent_trips-photo2{
        height: 1550px;
    }
    .footer_div4-1, .footer_div4-2, .footer_div4-3, .footer_div4-4{
        width: 100%;
        height: auto;
    }
    .footer_div3{
        padding: 50px 0px 0px 0px;
        height: 1250px;
    }
    .footer_div{
        height: 1360px;
        width: auto;
    }
    .footer_div2{
        height: 1360px;
        padding: 0px;
    }
    .footer_div4-4-photos-div img{
        height: 183px;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: flex !important;
        justify-content: flex-end !important;
    }

}
@media screen and (max-width: 673px){
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        display: flex !important;
        justify-content: flex-end !important;
        padding: 0px !important;
    }
    .footer_div4-4-photos-div{
        height: 300px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer_div4-4-photos-div img{
        height:150px;
    }
    .div_h3{
        width: auto;
    }
    .img_travelo{
        width: 100%;
    }
    .container-fluid{
        width: 90% !important;
    }
    .carousel{
        height: 350px;
    }
    .carousel-inner{
        height: 350px;
    }
    .carousel-item{
        height: 350px;
    }
    .text-center{
        height: 400px;
    }
    .carousel-item img{
        height: 350px;
    }
    .carousel button{
        top: 60%;
    }
    .human5 p{
        margin: 0px;
    }
    .anim2{
        margin-top: 30px;
    }
    .human{
        height: 450px;
    }
    .recent_trips-photo4{
        height: auto;
    }
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
    .container-fluid label{
        width: 100% !important;
    }
}
@media screen and (max-width: 562px){
    .footer_div4-4-photos-div img{
        width: auto;
        height: auto;
    }
    .footer_div4-4-photos-div{
        width: auto;
        height: auto;
    }
    .recent_trips-photo2 img{
        width: 100%;
        height: auto;
    }
    .recent_trips-photo4-1, .recent_trips-photo4-2, .recent_trips-photo4-3{
        width: 100%;
        height: auto;
    }
    .recent_trips-photo3{
        width: auto;
        height: auto;
    }
    .recent_trips-photo2{
        width: 100%;
        height: auto;
    }
    .recent_trips-photo{
        height: auto;
        width: auto;
    }
    .main_recent_trips{
        width: auto;
        height: auto;
    }
    .main_recent_trips2{
        height: auto;
        width: auto;
    }
    .recent_trips{
        width: 100%;
        height: 100px;
    }
    .recent_trips2{
        width: auto;
        height: auto;
    }
    .recent_trips2-text{
        width: auto;
        height: auto;
    }
    .human2{
        width: auto;
        height: auto;
    }
    .main_popular_destination2-place{
        padding: 0px;
    }
    .main_popular_destination2{
        padding: 0px;
    }
    .main_slider-bottomdiv3{
        width: 100%;
        height: auto;
    }
    .main_slider-bottomdiv{
        height: auto;
    }
    .div_input{
        width: 80%;
    }
    *{
        width: auto;
        height: auto;
    }
    .recent_trips-photo4{
        height: auto;
    }
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
}
@media screen and (max-width: 552px){
    .footer_div4-4-photos-div img{
        width: 120px !important;
        height: 120px !important;
    }
    .recent_trips2{
        padding: 0px;
        width: 100%;
    }
    .main_div-icon{
        padding: 80px 0px 60px;
    }
    .popular_destination-photo2 img{
        padding: 15px 0px;
        border-radius: 30px;
    }
    .main_recent_trips{
        width: 100%;
        height: 1500px;
    }
    .recent_trips-photo4{
        height: auto;
    }
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
}
@media screen and (max-width: 468px){
    .footer_div4-4-photos-div img{
        height: auto;
        width: auto;
    }
    .human{
        height: auto;
    }
    .human2{
        padding: 60px 0px;
        height: auto;
    }
    .human3{
        height: 300px;
    }
    .human5 h3{
        padding: 0px;
    }
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
}
@media screen and (max-width: 445px){
    .footer_div4-4-photos-div img{
        height: 70px !important;
        width: auto !important;
    }
    .footer_div4-4-photos-div{
        height: auto;
        width: 80%;
    }
    .footer{
        height: 1250px;
    }
    .footer_div{
        height: 1250px;
    }
    .footer_div3{
        height: 1100px;
    }
    .footer_div2{
        height: 1100px;
    }
    .main_recent_trips2{
        padding: 0px;
    }
    .main_recent_trips{
        height: auto;
    }
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
}
@media screen and (max-width: 386px){
    .popular_destination2-h3-p{
        padding: 0px;
    }
    .popular_destination2-h3-p p{
        font-size: 14px;
        line-height: 20px;
    }
}
@media screen and (max-width: 376px){
    .main_recent_trips2{
        padding: 0px 20px;
    }
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
}
@media screen and (max-width: 370px){
    .main_recent_trips{
        height: auto;
        width: auto;
    }
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
}
@media screen and (max-width: 367px){
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
}
@media screen and (max-width: 353px){
    .footer_div4-4-photos-div img{
        height: 60px !important;
    }
}
@media screen and (max-width: 351px){
    .navbar-light .navbar-toggler{
        width: 100% !important;
    }
    .main_slider-bottomdiv h3{
        width: 280px;
    }
    .div_h3{
        margin: 0px;
    }
    .footer_div4-4-photos-div img{
        height: 60px !important;
    }
}
@media screen and (max-width: 337px){
    .footer_div4-4-photos-div{
        width: 90%;
        height: auto;
    }
}
@media screen and (max-width: 333px){
    *{
        height: auto;
        width: auto;
    }
    .main_slider-bottomdiv h3{
        width: 100%;
        margin: 5px 0px;
    }
    .div_h3{
        margin: 0px;
    }
}
@media screen and (max-width: 311px){
    .footer_div4-4-photos-div{
        width: 90%;
        height: auto;
    }
    .footer_div4-4-photos-div img{
        width: 100% !important;
        height: auto;
    }
}